@import './partials/fonts';
@import './partials/media';
@import './partials/mixins';
@import './partials/normalize';
@import './partials/vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    @include bg-body;
    color: $main-text-color;
}

.container {
    @include container;
    // height: calc(100vh + 100px);
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0px auto 30px;
    padding: 20px 0;
}

h1 {
    @include font-title;
    margin: 0;
    padding: 20px 0;
}

h2 {
    @include font-subtitle;
    font-size: 30px;
    padding: 20px 0;
}

h3 {
    @include font-subtitle;
    font-size: 24px;
    padding: 20px 0;
}

.posts {
    @include main-right;
    margin: 30px auto 40px;
    padding: 20px 0;
}

.box-search {
    display: flex;
    justify-content: end;
    text-align: right;
    align-items: center;
    padding: 10px 0;
    gap: 16px;
    
    transition: transform .2s ease;
}

.icons-posts {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-left: auto;
    padding: 10px 0;

    transition: transform .2s ease;
}

.icon {
    background: inherit;
    border: none;
    stroke: $main-text-color;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}

.input {
    width: 60%;
    padding: 6px 0;
    @include input-border;
    @include font-input;
    text-align: left;
    cursor: pointer;
}

.input:hover {
    transform: scale(.95);
}

.input:focus {
    outline: none;
}

.posts-form {
    @include main-right;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 70px;
    margin: 30px 0;
}

.card {
    height: 300px;
    width: 280px;
    
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    
    padding: 10px 0;
    margin-left: auto;
    
    gap: 20px;
    overflow: auto;
    @include font-text;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(237, 234, 232, 0.8) inset;
}

.divider {
    width: 50%;
    height: 1px;
    background-color: $main-text-color;
    opacity: 0.4;
    margin-left: auto;
}

p {
    padding-top: 10px;
    padding-right: 2px;
}

@media (max-width: 480px) {
    .header {
        // margin: 10px auto;
    }
    h2 {
        font-size: 24px;
        padding: 10px 0;
    }
    h3 {
        font-size: 20px;
        padding: 10px 0;
    }
    .posts {
        margin: 10px auto 30px;
    }
    .card,
    .input {
        font-size: 20px;
    }
}